@tailwind base;
@tailwind components;
@tailwind utilities;

img {
  /* @apply w-96 h-80 */
}

img {
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 37vh;
}

img:hover {
  box-shadow: #e48f0f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

.card-container {
  width: 350px;
  background: #11111185;
  color: wheat;
  font-size: 20px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card-body {
  text-align: center;
  justify-content: center;
}

.card-wrap {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tertiarry-btn {
  padding: 1rem 2.5rem;
  background-color: #16621b;
  outline: none;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  color: wheat;
}

.tertiarry-btn:hover {
  background-color: #e48f0f;
}

body {
  max-width: 100%;
  overflow-x: hidden;
  background-color: #000000db;
  margin-top: 15px;
  margin: 0;
  height: 100vh;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 90px;
  padding: 20px;
}

.nav-logo-container {
  color: wheat;
  font-weight: 900;
  font-size: 10px;
  width: 50px;
  text-align: center;
  font-style: oblique;
}

.navbar-links-container a:hover {
  text-decoration: underline 3px #e48f0f;
}

.navbar-menu-container {
  display: none;
}

.navbar-links-container a {
  margin-right: 3rem;
  text-decoration: none;
  color: wheat;
  font-size: 1.1rem;
  font-weight: 600;
}

.card-text {
  height: 60px;
}

.primary-button {
  padding: 0.7rem 1.3rem;
  background-color: wheat;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1rem;
  cursor: pointer;
  font-weight: 600;
  transition: 0.2s;
}

.home-container {
  background-image: url('assets/dark-background.avif');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
  width: 90vw;
  margin: auto;
}

.primary-button:hover {
  background-color: green;
}

.navbar-menu-container svg {
  font-size: 1.5rem;
  cursor: pointer;
}

.home-banner-container {
  position: relative;
  display: flex;
  padding: 4rem 2rem;
  width: 55vw;
  /* margin: auto; */
}

.primary-heading {
  font-size: clamp(2rem, 5vw, 4rem);
  color: wheat;
  line-height: 5rem;
  max-width: 600px;
}

.primary-text {
  font-size: clamp(1rem, 3vw, 1.3rem);
  max-width: 500px;
  color: wheat;
  margin: 1.5rem 0.5rem;
}

.secondary-button {
  padding: 1rem 2.5rem;
  background-color: #16621b;
  outline: none;
  border: none;
  border-radius: 5rem;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: wheat;
  transition: 0.2s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.secondary-button svg {
  margin-left: 0.75rem;
  font-size: 1.5rem;
}

.secondary-button:hover {
  background-color: #e48f0f;
}

section {
  width: 350px;
  background: #11111185;
  color: wheat;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.cart-btn {
  background-color: #16621b;
  padding: 0.3rem 0.8rem;
}

.cart-container {
  display: flex;
  justify-content: space-around;
  outline: none;
  border: none;
  cursor: pointer;
  color: wheat;
}

/* details styling */

.detail-container {
  width: 98vw;
  margin: auto;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.detail-title {
  color: wheat;
  font-size: 30px;
  font-weight: 500;
  font-style: italic;
  border: wheat;
  padding: 0 0 30px;
  text-transform: uppercase;
}

.detail-img {
  width: 70vw;
  height: 75vh;
  padding-bottom: 25px;
}

.detail-infos {
  color: wheat;
  width: 70vw;
  font-size: 23px;
  margin: auto;
}

.detail-desc {
  padding-bottom: 60px;
}

/* .detail-head {
  padding-top: 120px;
} */

.detail-btn {
  padding: 1rem 2.5rem;
  background-color: #16621b;
  outline: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: wheat;
  transition: 0.2s;
  margin: 20px auto;
}

.detail-btn:hover {
  background-color: #e48f0f;
}

/* contact form section */

.form-container {
  width: 60vw;
  margin: auto;
  display: flex;
  justify-content: center;
  height: 75vh;
  color: wheat;
  margin-top: 20px;
  border: 1px solid #f5deb36f;
  align-items: center;
}

label {
  font-weight: bold;
  display: flex;
  margin-bottom: 8px;
}

input[type='text'],
input[type='email'],
input[type='address'],
input[type='location'] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 18px;
  line-height: 1.4;
  color: wheat;
  /* border: 1px solid wheat; */
  box-shadow: 10px 3px 10px wheat;
  border-radius: 4px;
  background-color: #00000084;
}

input[type='text']:hover,
input[type='email']:hover,
input[type='address']:hover,
input[type='location']:hover {
  color: wheat;
  border: 1px solid wheat;
  background-color: #000000f5;
}

.contact-btn {
  padding: 1rem 2.5rem;
  background-color: #16621b;
  outline: none;
  border-radius: 15px;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  width: 140px;
  text-align: center;
  margin: auto;
  margin-top: 50px;
}

.contact-btn:hover {
  background-color: #e48f0f;
}

.form-control {
  margin-bottom: 24px;
}

.error {
  color: #f54e4eaa;
  padding-top: 3px;
  text-align: center;
}

/* payment form section  */

.payment-container {
  width: 70vw;
  margin: 20vh auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  background-color: #0e0d0d84;
  padding: 20px;
  font-size: 22px;
}

.payment-input {
  padding: 20px;
  border-bottom: 1px solid wheat;
  background-color: #2422224d;
  color: #f6ca79;
}

.payment-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 40px;
}

.payment-error {
  color: wheat;
  padding-top: 15px;
}

.payment-price {
  color: #e9c37efb;
}

.payment-btn {
  padding: 1rem 2.5rem;
  background-color: #16621b;
  outline: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  font-weight: 600;
  color: #f6ca79;
  transition: 0.2s;
  margin: 20px auto;
}

.payment-btn:hover {
  background-color: #e48f0f;
}

/* checkout page  */

.sucess-con {
  width: 50vw;
  align-items: center;
  text-align: center;
  margin: 15% auto;
  justify-content: center;
  align-items: center;
}

.sucess-con h1 {
  font-size: 38px;
  padding: 25px;
  font-weight: 700;
  font-style: italic;
  color: #eec881fb;
}

.sucess-con p {
  color: #16621b;
  font-size: 26px;
  font-weight: 700;
  padding-bottom: 15px;
}

.sucess-con h2 {
  color: #f6ca79;
  font-size: 26px;
  font-style: italic;
  font-weight: 700;
}